<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>히스토리 상세 조회</title>
</head>
<body>
<h1>히스토리 상세</h1>

    <div>
        <h3>글쓴이 <span th:text="${history.memberNickname}"></span></h3>
        <h2>책 이름: <span th:text="${history.bookName}"></span></h2>
        <p>내용: <span th:text="${history.historyContent}"></span></p>
        <p>구절: <span th:text="${history.phrase}"></span></p>
        <p>난이도: <span th:text="${history.difficulty}"></span></p>
        <p>인생 적용: <span th:text="${history.applicationToLife}"></span></p>
        <p>책 추천인: <span th:text="${history.bookRecommender}"></span></p>
        <p>작성자: <span th:text="${history.memberNickname}"></span></p>
        <h3>태그</h3>
        <ul>
            <li th:each="tagName : ${history.tagNames}" th:text="${tagName}"></li>
        </ul>
        <h3>추출된 핵심 키워드</h3>
        <ul class="keyword-list" id="keywords">
            <li th:each="keyword : ${history.keywords}" th:text="${keyword}">#키워드명</li>
        </ul>
    </div>

    <div class="my-3">
    <a th:href="@{|/histories/update/${history.historySeq}|}" class="btn btn-sm btn-outline-secondary"
       th:if="${ userNickName == history.memberNickname}"
       th:text="수정"></a>
    </div>

    <div class="my-3">
    <a th:href="@{|/histories/delete/${history.historySeq}|}" class="btn btn-sm btn-outline-secondary"
       th:if="${ userNickName == history.memberNickname}"
       th:text="삭제"></a>
    </div>

    <hr/>


<h3>댓글</h3>
    <h5 th:text="|${#lists.size(history.comments)}개의 답변이 있습니다.|"></h5>
        <div>
            <ul th:each="realComments : ${realComment}">
                <li th:text="|${realComments.content} - 글쓴이: ${realComments.memberName}|"></li>
                <a th:href="@{|/comments/delete/${realComments.getCommentSeq()}|}" class="btn btn-sm btn-outline-secondary"
                   th:if="${ userNickName == history.memberNickname}"
                   th:text="삭제"></a>
            </ul>
        </div>

    <form th:action="@{|/comments/create/${history.historySeq}|}" th:object="${commentForm}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
        </div>
        <textarea th:field="*{content}" rows="15"></textarea>
        <input type="submit" value="답변등록">
    </form>

</body>
</html>