<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sidebar</title>
  <style>
    .sidebar {
      width: 200px;
      height: 100vh;
      background-color: white;
      padding: 20px;
      position: fixed;
    }
    a {
      display: block;
      margin-bottom: 10px;
      text-decoration: none;
      color: black;
    }
  </style>
</head>
<body>
<div class="sidebar" th:fragment="sidevarFragment">
  <img th:src="@{/image/logo.png}" alt="책 이미지" class="logo">
  <a th:href="@{/histories/all}"><img th:src="@{/image/var1.png}" alt="Icon">Storage</a>
  <a th:href="@{/histories/myPage}"><img th:src="@{/image/var3.png}" alt="Icon">MyStorage</a>
  <a th:href="@{/histories/new}"><img th:src="@{/image/var2.png}" alt="Icon">Add History</a>
  <a th:href="@{/books/recommendations}"><img th:src="@{/image/var4.png}" alt="Icon">Book Recommendations</a>
  <a th:href="@{/books/keyword}"><img th:src="@{/image/var5.png}" alt="Icon">Personalized Picks</a>
</div>
</body>
</html>
